<!-- myapp/templates/myapp/base.html -->
{% load static %}  <!-- Carrega a tag static para uso neste arquivo -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Loja do Isaac{% endblock %}</title>
    {% block stylesheet %}
    <!-- Aqui você pode incluir CSS externo ou links para arquivos CSS -->
    <link rel="stylesheet" href="{% static 'myapp/css/base.css' %}">
    {% endblock %}
</head>
<body>
    <header class="main-header">
        <div class="title-container">
            <h1>Loja do Isaac</h1>
        </div>
        <nav class="user-nav">
            {% if user.is_authenticated %}
                <span>Olá, {{ user.username }}</span> <!-- Mostra o nome de usuário -->
                <form style="margin-top: 5%;" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout_button">Logout</button> <!-- Link para Logout -->
                </form>
            {% else %}
                <a href="{% url 'cadastro' %}">Cadastro</a> <!-- Link para cadastro -->
                <a href="{% url 'login' %}">Login</a> <!-- Link para login -->
            {% endif %}
        </nav>
    </header>
    {% block content %}
    <!-- O conteúdo da página específica será inserido aqui -->
    {% endblock %}
    
</body>
</html>
