<!-- myapp/templates/myapp/home.html -->
{% extends 'myapp/base.html' %}
{% load static %}  <!-- Carrega a tag static para uso neste arquivo -->

{% block title %}Home - App do Isaac{% endblock %}

{% block stylesheet %}
{{ block.super }}
<!-- CSS específico para home.html -->
<link rel="stylesheet" href="{% static 'myapp/css/home.css' %}">
{% endblock %}

{% block content %}
<!-- Conteúdo específico da página Home -->
<h1>Bem-vindo à minha loja!</h1>

<a class="catalog-link" href="{% url 'items' %}">Ver catálogo de itens</a>

    
<!--header> teste </header-->

<!--p>O valor da variável é: {{ var1 }}</p-->
<!-- mais HTML -->
{% endblock %}
