<!-- myapp/templates/myapp/home.html -->
{% extends 'myapp/base.html' %}
{% load static %}  <!-- Carrega a tag static para uso neste arquivo -->

{% block title %}Home - App do Isaac{% endblock %}

{% block stylesheet %}
{{ block.super }}
<!-- CSS específico para home.html -->
<link rel="stylesheet" href="{% static 'myapp/css/home.css' %}">
{% endblock %}

{% block content %}

<table>
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.nome }}</td>
        <td>{{ item.descricao }}</td>
        <td>R$ {{ item.preco }}</td>
    </tr>
    {% endfor %}
</table>

<a class="catalog-link" href="{% url 'home' %}">Voltar</a>

<!--p>O valor da variável é: {{ var1 }}</p-->
<!-- mais HTML -->
{% endblock %}
