<!-- myapp/templates/myapp/cadastro.html -->
{% extends 'myapp/base.html' %}
{% load static %}  <!-- Carrega a tag static para uso neste arquivo -->

{% block title %}Login - Loja do Isaac{% endblock %}

{% block stylesheet %}
{{ block.super }}
<!-- CSS específico para home.html -->
<link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
{% endblock %}

{% block content %}

<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="button-container">
        <button type="submit">Login</button>
        <a class=login href="{% url 'cadastro' %}">Não tem uma conta? Faça seu cadastro</a>
        <a href="{% url 'home' %}">Voltar</a>
    </div>
</form>

{% endblock %}
