/* FILEPATH: /c:/Users/yusuk/Documents/Django/Teste chatgpt/myproject/myapp/static/myapp/css/home.css */

/* Reset default styles */
body, html {
    margin: 0;
    padding: 0;
}

/* Add styles for the header */
header {
    /*background-color: #0000f2;*/
    padding: 0%;
}

/* Add styles for the main content */
main {
    margin: 20px;
}

/* Add styles for the footer */
footer {
    background-color: #f2f2f2;
    padding: 20px;
}

/* Estilizando a tag <a> */
a {
    color: #007bff; /* Cor do texto do link */
    text-decoration: none; /* Remove o sublinhado padrão do link */
    font-size: 18px; /* Tamanho da fonte do link */
    font-family: Arial, sans-serif; /* Tipo de fonte do link */
    transition: color 0.3s; /* Faz a transição de cor suave */
    padding-top: 20px;
}

/* Estilizando a tag <a> quando o mouse está sobre ela */
a:hover {
    color: #0056b3; /* Cor do texto do link quando o mouse está sobre ele */
    text-decoration: underline; /* Adiciona sublinhado ao link no hover */
}

/* Estilizando a tag <a> quando está ativa/clicada */
a:active {
    color: #003580; /* Cor do texto do link quando está ativo/clicado */
}

.login{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 300px;
    text-align: center;
}