/* FILEPATH: /c:/Users/yusuk/Documents/Django/Teste chatgpt/myproject/myapp/static/myapp/css/base.css */

/* Reset de Margem e Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do Corpo */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding-top: 60px; /* Espaço para a barra superior */
}

/* Cabeçalho Principal */
.main-header {
    background-color: #20232a;
    color: #61dafb;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Container do título que ignora os botões */
.main-header .title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main-header h1 {
    font-size: 2.5em;
    color: #61dafb; /* Cor que contraste com o fundo escuro */
}

/* Navegação do Usuário */
.user-nav {
    display: flex;
    gap: 10px; /* Espaço entre os botões */
}

.user-nav a {
    color: #61dafb;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #333;
    border-radius: 5px;
}

.user-nav span {
    color: rgb(255,255,255);
    text-decoration: none;
    padding: 10px 15px;
    background-color: #20232a;
    border-radius: 5px;
}

.user-nav a:hover {
    color: #ffffff;
    background-color: #61dafb;
}

/* Restante do CSS... */


/* Conteúdo Principal */
.main-content {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto; /* Centraliza o conteúdo principal */
    max-width: 1000px; /* Define uma largura máxima para o conteúdo principal */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para botões (geral) */
button {
    background-color: #333;
    color: #61dafb;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #61dafb;
    color: rgb(255,255,255);
}

.logout_button {
    background-color: #333;
    color: #61dafb;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.logout_button:hover {
    background-color: rgb(200, 0, 0);
    color: rgb(255,255,255);
}


/* Responsividade */
@media (max-width: 600px) {
    .main-header, 
    .user-nav {
        flex-direction: column;
        text-align: center;
    }
    
    .user-nav span, 
    .user-nav a {
        margin: 10px 0;
    }
}

/* CSS para manter o rodapé na parte inferior da página */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    text-align: center;
    padding: 20px;
    color: #fff;
    position: relative;
    /* Seu código CSS existente para o rodapé */
}

footer p {
    margin: 0;
}
